
@import"./helpers/variables" ;// variable should  declared before styles
@import"./helpers/mixins"; // variable and mixins and function before all other import
@import"./helpers/functions";
// all the site depend from this 3 import should be first 

@import "./Layout/grid";
@import"./Layout/header";
@import"./Layout/main";
@import "./pages/globalpage";


@import "./componants/buttons";
@import "./componants/hero";


@import"./pages/menualafrancaise";


@import"./Layout/footer";



