//color identity
$primarycolor: #9356dc;
$secondaryColor: #ff79da;
$TertiaryColor: #99e2d0;
$greyColor: #f9f9f9;
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px )";
$minlarge: "(min-width: 1200px )"; //cours 19 e zero sass
