header {
  margin: 20px auto;
  text-align: center;
  top: 0;
  @include tab {
    text-align: left;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.3);
  }
  @include laptop {
    margin-bottom: 0px;
  }
  @include large-screen {
  }

  img {
    width: 50%;
    height: 50%;
    @include tab {
      position: static;
      margin-left: 30px;
      width: 200px;
    }
    @include laptop {
      margin-left: 60px;
    }
  }
  span {
    position: absolute;
    left: 20px;
    top: 25px;
    @include tab {
      left: 95%;
    }
    .fa-arrow-left {
      font-size: 20px;
      @include large-screen {
        font-size: 27px;
      }
      @include tab{
        font-size: 27px;
      }
    }
  }
}
