.main {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  padding-bottom: -10px;
  background-color: $greyColor;
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 40px 40px 0px 0px;
}
