.hero {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    @include tab {
      height: 500px;
      margin-top: 30px;
      margin-bottom: 30px;
      filter: brightness(0.4);
       box-shadow: 0px 5px 4px 3px #d4d4d4;
      // border-radius: 40px 0px;
      // position: relative;
    }
    @include large-screen {
     
    }
  }
}
